.header0 {
  background: #001529;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;
}

.header0 .home-page {
  padding: 0 24px;
}

.header0-logo {
  display: inline-block;
  position: relative;
  width: 150px;
  line-height: 64px;
}

.header0-logo img {
  vertical-align: middle;
  display: inline-block;
}

.header0-logo a {
  display: block;
}

.header0-menu {
  float: right;
}

.header0-menu .ant-menu {
  line-height: 62px;
  height: 64px;
}

.header0-menu .ant-menu a {
  display: block;
}

.header0-item-block {
  padding: 0 8px;
}

.header0-item-block > * {
  display: inline-block;
}

.header0-item,
.header0-item-child,
.header0-menu .ant-menu-sub,
.header0-menu .ant-menu-inline {
  height: auto;
  line-height: 1.5;
}

.header0-item-sub-item {
  display: block;
  padding: 8px 24px;
}

.header0-item-image {
  float: left;
  margin-right: 16px;
  margin-top: 4px;
  position: relative;
  z-index: 1;
}

.header0-item-title {
  font-size: 14px;
  color: #fff;
  margin-left: 46px;
}

.header0-item-content {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  margin-left: 46px;
}

@media screen and (max-width: 767px) {
  .header0-logo {
    z-index: 101;
  }

  .header0.home-page-wrapper .home-page {
    padding: 0 24px;
  }

  .header0-menu {
    height: auto;
    float: inherit;
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .header0-menu li {
    padding: 0 24px;
  }

  .header0-menu .ant-menu-submenu {
    padding: 0;
  }

  .header0-item-sub-item {
    padding: 8px 0;
  }

  .header0-mobile-menu {
    width: 16px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
  }

  .header0-mobile-menu em {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 4px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header0-mobile-menu:first-child {
    margin-top: 0;
  }

  .header0-menu.ant-menu {
    height: auto;
    overflow: hidden;
  }

  .header0-menu .ant-menu-item-selected {
    border: none;
  }

  .header0 .open {
    height: auto;
  }

  .header0 .header0-mobile-menu em:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .header0 .header0-mobile-menu em:nth-child(2) {
    opacity: 0;
  }

  .header0 .header0-mobile-menu em:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .header0 .header0-menu {
    opacity: 1;
    pointer-events: auto;
  }

  .header0-item-block {
    height: 40px;
    line-height: 40px;
  }
}
